@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
@import url("./pages/page-blog/_blog-412px.scss");
@import url("./pages/page-blog/_blog-768px.scss");
@import url("./pages/page-blog/_blog-1920px.scss");
@import url("/Abstracts/_variables.scss");
@import url("/Abstracts/_mixin.scss");
.background-exit {
  background-image: url("images/gallery/footer-bg.jpg");
  background-size: cover;
  background-position: center;
}

.footer {
  background-color: rgba(34, 34, 34, 0.9);
  color: #717171;
  display: grid;
}
.footer h2 {
  font-family: Montserrat;
  font-size: 19px;
  color: #fefefe;
  padding-left: 30px;
}
.footer h3 {
  color: #717171;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 200;
}
.footer h3 i {
  color: #F60B0E;
}
.footer p {
  font-family: Hind;
  padding-left: 30px;
}
.footer__address .email {
  color: white;
}
.footer__hours .opening {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer__hours .day {
  margin: 0px 0px 16px 0px;
}
.footer__hours .opening-hours {
  margin: 0px 0px 16px 0px;
}
.footer__social .icons {
  padding-left: 30px;
  margin-top: 20px;
}
.footer__social .icons i {
  background-color: rgb(38, 38, 38);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #fefefe;
  text-align: center;
  line-height: 36px;
  margin: 4px;
}
.footer__social .icons i:hover {
  transition-duration: 0.5s;
  transition-timing-function: ease;
  background-color: #F60B0E;
}
.footer__down {
  text-align: center;
  padding-top: 80px;
}
.footer__down p {
  font-size: 10px;
}

@media (max-width: 412px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 50px;
  }
}
@media (min-width: 413px) and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px;
  }
  .footer__down {
    grid-column: 1/5;
  }
}
@media (min-width: 769px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 100px 360px 50px 360px;
  }
  .footer p {
    font-size: 16px;
  }
  .footer__down {
    grid-column: 1/5;
  }
}
.contact {
  background-color: #222222;
  display: grid;
  font-family: Hind;
  color: #717171;
  font-size: 16px;
  padding: 5% 15%;
}
.contact h2 {
  font-family: Montserrat;
  font-size: 44px;
  color: #fefefe;
}
.contact p {
  font-weight: 400;
}
.contact__get-in-touch .info {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.contact__get-in-touch .info .email {
  color: #fefefe;
}
.contact__get-in-touch .info i {
  color: #fefefe;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}
.contact__get-in-touch .info p {
  padding: 10px;
}
.contact__contact-form .form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact__contact-form .form .name {
  width: 100%;
}
.contact__contact-form .form .name #name {
  background-color: #222222;
  border: none;
  font-family: Hind;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  height: 30px;
  border-bottom: solid 3px #717171;
}
.contact__contact-form .form .name #name:hover {
  border-color: #fefefe;
}
.contact__contact-form .form .name #name::placeholder {
  grid-column: 1/2;
}
.contact__contact-form .form .mail {
  width: 100%;
}
.contact__contact-form .form .mail #email {
  background-color: #222222;
  font-family: Hind;
  border: none;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  height: 30px;
  border-bottom: solid 3px #717171;
}
.contact__contact-form .form .mail #email:hover {
  border-color: #fefefe;
}
.contact__contact-form .form .mail #email::placeholder {
  grid-column: 2/3;
}
.contact__contact-form .form .message {
  width: 100%;
  grid-column: 1/-1;
}
.contact__contact-form .form .message #message {
  background-color: #222222;
  font-family: Hind;
  border: none;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  height: 170px;
  border-bottom: solid 3px #717171;
  margin: 10px 0px;
}
.contact__contact-form .form .message #message:hover {
  border-color: #fefefe;
}
.contact__contact-form .form .message #message::placeholder {
  background-color: #222222;
}
.contact__contact-form .form .submit-button {
  grid-column: 1/-1;
  background-color: #F60B0E;
  color: #fefefe;
  font-weight: 600;
  font-size: 18px;
  border-radius: 50px;
  border-style: none;
  height: 60px;
  width: 100%;
}

.map {
  background-color: yellow;
}

@media (max-width: 412px) {
  .contact {
    grid-template-columns: 1fr;
  }
  .contact__get-in-touch {
    grid-column: 1/2;
  }
  .contact__contact-form {
    grid-column: 2/4;
  }
}
@media (min-width: 413px) and (max-width: 768px) {
  .contact {
    grid-template-columns: 1fr 2fr;
  }
  .contact__get-in-touch {
    grid-column: 1/2;
  }
  .contact__contact-form {
    grid-column: 2/4;
  }
}
@media (min-width: 769px) {
  .contact {
    grid-template-columns: 1fr 2fr;
  }
  .contact__get-in-touch {
    grid-column: 1/2;
  }
  .contact__contact-form {
    grid-column: 2/4;
  }
  .contact__contact-form .name #name:hover {
    border-color: #fefefe;
  }
}

/*# sourceMappingURL=main.css.map */
