@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

$fontHeadings :  Montserrat;
$FontParagraphs : 'Hind Siliguri', sans-serif;

///Big screen (width : 1920)
$bs-H1: 6.250vw;
$bs-H2: 2.292vw;
$bs-H3: 1.667vw;
$bs-P: 0.833vw;
$bs-smaller-text:0.573vw;

///Mobile (width : 412)
$m-H1: 7.767vw;
$m-H2: 4.612vw;
$m-H3: 5.097vw;
$m-P: 3.398vw;
$m-smaller-text: 2.427vw;

///colors 

$red: #F60B0E;

///Backgrounds

$darkest-backgrounds: #1B1B1B;
$dark-background: #222222;
$white-background: #fefefe;
$global-font-color: #717171;
$nav-font-color: #777;




// Fonts
// Headings: Montserrat.
// Paragraphs: Hind.
// Font-size
// Big screens
// H1: 120px
// H2: 44px
// H3: 32px
// P: 16px
// smaller text : 11px
// Mobile
// H1: 32px
// H2: 19px
// H3: 21px
// P: 14px
// smaller text : 10px

// colors
// Red: #F60B0E

// Darkest background: #1B1B1B

// Dark background: #222222

// White background: #fefefe

// Global font color: #717171

// Nav font color: #777