@use '../Abstracts/variables';

.background-exit {
    background-image: url('images/gallery/footer-bg.jpg');
    background-size: cover;
    background-position: center;
}

.footer {
    background-color: rgba(variables.$dark-background, $alpha: 0.9);
    color: variables.$global-font-color;

    display: grid;

    h2 {
        font-family: variables.$fontHeadings;
        font-size: 19px;
        color: variables.$white-background;
        padding-left: 30px;
    }

    h3 {
        color: variables.$global-font-color;
        font-family: variables.$fontHeadings;
        font-size: 21px;
        font-weight: 200;

        i {
            color: variables.$red;
        }
    }

    p {
        font-family: variables.$FontParagraphs;
        padding-left: 30px;
    }

    &__address {
        .email {
            color: white;
        }
    }

    &__links {}

    &__hours {
        .opening {
            display: grid;
            grid-template-columns: 1fr 1fr;

        }

        .day {
            margin: 0px 0px 16px 0px;
        }

        .opening-hours {
            margin: 0px 0px 16px 0px;
        }
    }

    &__social {
        .icons {
            padding-left: 30px;
            margin-top: 20px;

            i {
                background-color: rgb(38, 38, 38);
                width: 36px;
                height: 36px;
                border-radius: 50%;
                color: variables.$white-background;
                text-align: center;
                line-height: 36px;
                margin: 4px;

                &:hover {
                    transition-duration: 0.5s;
                    transition-timing-function: ease;
                    background-color: variables.$red;
                }
            }

        }
    }

    &__down {
        text-align: center;
        padding-top: 30%;

        p {
            font-size: 10px;
        }
    }
}