@media (min-width: 413px) and (max-width:768px) {
    .footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 7% 5% 2% 5%;

        &__down {
            grid-column: 1 / 5;
            padding-top: 10%;
        }
    }
}