@media (min-width: 769px) {
    .footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 7% 10% 2% 15%;

        p {
            font-size: 16px;
        }

        &__down {
            grid-column: 1 / 5;
            padding-top: 10%;
        }
    }
}