@use '../Abstracts/variables';

.footer {
    /* background-image: url('images/gallery/slide-3.jpg');*/
    background-color: rgba($color: black, $alpha: 0.5);

    span {
        color: white;
    }

    /* color: variables.$global-font-color;*/

    @media (max-width: 412px) {
        display: grid;
        grid-template-columns: repeat (2, 1fr);
        padding: 50px;

        h2 {
            font-family: variables.$fontHeadings;
            font-size: 19px;
            color: white;
        }

        h3 {
            color: variables.$global-font-color;
            font-family: variables.$fontHeadings;
            font-size: 21px;
            font-weight: 200;

            i {
                color: red;
            }
        }

        p {
            font-family: variables.$FontParagraphs;
            font-size: 14px;
        }
    }

    @media (min-width: 413px) and (max-width:767px) {
        display: grid;
        grid-template-columns: repeat (4, 1fr);
        padding: 50px;

        h2 {
            font-family: variables.$fontHeadings;
            font-size: 19px;
            color: white;
        }

        h3 {
            color: variables.$global-font-color;
            font-family: variables.$fontHeadings;
            font-size: 21px;
            font-weight: 200;

            i {
                color: red;
            }
        }

        p {
            font-family: variables.$FontParagraphs;
            font-size: 14px;
        }
    }

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 200px 100px;

        h2 {
            font-family: variables.$fontHeadings;
            font-size: 19px;
            color: white;
        }

        h3 {
            color: variables.$global-font-color;
            font-family: variables.$fontHeadings;
            font-size: 21px;
            font-weight: 200;

            i {
                color: red;
            }
        }

        p {
            font-family: variables.$FontParagraphs;
            font-size: 16px;
        }

        &__social {
            padding: 50px;
            display: flex;
            align-items: center;
            justify-items: center;
        }
    }

    &__address {}

    &__links {
        line-height: 0.8;
    }


    &__social {
        &__icons {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: black;
            color: white;
            text-align: center;
            line-height: 30px;
        }
    }

    &__down {
        display: flex;
        align-self: center;
        justify-self: center;

        p {
            font-size: 10px;
        }
    }

}