@use '../Abstracts/variables';

header {
    background-image: url(images/gallery/slide-1.jpg);
    background-position: top;
    // added by cam
    background-repeat: no-repeat;
    background-size: cover;
    //end of adding

    h1 {
        text-align: center;
        color: variables.$white-background;
        font-family: variables.$fontHeadings;
        letter-spacing: -4px;
    }

    .dot {
        color: variables.$red;
    }

    .white {
        color: variables.$white-background;
    }

    p {
        color: variables.$global-font-color;
        text-align: center;
        font-family: variables.$FontParagraphs;
        font-variant: small-caps;
    }

}