.topnav {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-right: 1rem;
  font-weight: 600;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.678);
}

.topnav .left-side {
  display: flex;
  flex-direction: row;
}

.topnav .left-side img {
  height: 100%;
}

.topnav .left-side .link-navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  gap: 1rem;
  padding-left: 15px;
}

.topnav .left-side .link-navbar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.726);
  padding: 5px;
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}

.topnav .left-side .link-navbar a:hover {
  background-image: linear-gradient(45deg,
      #1b1b1b 49%,
      #a10000 50%,
      #a10000 55%,
      #1b1b1b 56%);
  border-radius: 5px;
  opacity: 1;
}

.topnav .right-side {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  button {
    font-size: 17px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.171);
    color: white;
    background-color: #353535;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
  }
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1100px) {
  .topnav .link-navbar a {
    display: none;
  }

  .topnav .right-side div {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    position: relative;
    right: 0;
    top: 0;
    font-size: 3rem;
    color: black;
    padding-top: 0.6rem;
  }

  .topnav-responsive {
    z-index: 999 !important;
    display: block;
    text-align: left;
    background-color: #353535;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    position: absolute;
    width: 100%;
    height: 17rem;

    .left-side {
      a {
        display: flex;
        flex-direction: column;
        padding: 5px 10px 0 10px;
        list-style-type: none;
        font-weight: 600;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.678);
        text-decoration: none;
      }
    }

    .right-side {
      margin-left: 0.5rem;
      display: none;
    }

    a.icon {
      float: right;
      color: red;
      position: relative;
      top: -16rem;
      right: 1rem;
      font-size: 8rem;
    }
  }
}

@media screen and (min-width: 1101px) {
  .topnav-responsive {
    background-color: #0e0e0ed5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    padding-right: 1rem;
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.678);
  }

  .topnav-responsive .left-side {
    display: flex;
    flex-direction: row;
  }

  .topnav-responsive .left-side img {
    height: 100%;
  }

  .topnav-responsive .left-side .link-navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    padding-left: 15px;
  }

  .topnav-responsive .left-side .link-navbar a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.726);
    padding: 5px;
    opacity: 1;
    transition: opacity 0.3s ease 0s;
  }

  .topnav-responsive .left-side .link-navbar a:hover {
    background-image: linear-gradient(45deg,
        #353535 49%,
        #a10000 50%,
        #a10000 55%,
        #353535 56%);
    border-radius: 5px;
    opacity: 0.5;
  }

  .topnav-responsive .right-side {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    button {
      font-size: 17px;
      border-radius: 20px;
      border: 2px solid rgba(255, 255, 255, 0.171);
      color: white;
      background-color: #353535;
      padding: 0.5rem 1.5rem;
      font-weight: 600;
    }
  }

  .topnav-responsive .icon {
    display: none;
  }
}