@media (max-width: 769px) {
    .rooms__header{
        h1{
            margin-bottom: 10%;
        }
        ul {
            display: flex;
            flex-direction: column;
        }
    }
    .button-container{
        flex-direction: column;
        margin-top: 10px;
    }
    button{
        width: 60%;
    }
  }

  .card-container {
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin-top: 20px; /* Adjust the margin as per your preference */

    // Responsive styles
    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      margin-top: 10px; /* Adjust the margin as per your preference */
    }
  }