@import "./page-accueil-1920px";
@import "./page-accueil-768px";
@import "./page-accueil-412px";


#header-gallery {
  background-image: url("/images/gallery/slide-4.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15% 0;
  align-items: center;
  z-index: 0 !important;
  .header-left {
    padding-left: 2%;
    position: relative;
  }
  p {
    font-size: 100px;
    font-family: $FontParagraphs;
    line-height: 110px;
    font-weight: 600;
  }
  a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 30px;
  }

  .header-right {
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    div {
      text-align: right;
      height: 5%;
      button {
        border: none;
        border-radius: 20px;
      }
    }
    .b {
      button {
        padding: 3px 30px;
      }
    }
    .a,
    .c {
      button {
        padding: 3px 15px;
        &:hover {
          padding: 3px 30px;
        }
      }
    }
  }
}
.section-featured-rooms {
  padding: 5% 0;
  font-family: $FontParagraphs;
  background-color: #1b1b1b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    padding-bottom: 4%;
    font-size: 50px;
  }
  .featured-rooms {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    .featured-rooms__div-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      background-color: #222222;
      box-shadow: -11px 11px 14px 0px rgba(0, 0, 0, 0.75);
      padding: 4% 3% 4% 3%;
      p {
        padding: 0 0 6% 0;
        font-weight: 500;
        opacity: 0.5;
      }
      button {
        width: 40%;
        border-radius: 10vh;
        background-color: red;
        color: white;
        font-weight: 900;
        font-size: 15px;
        font-family: $FontParagraphs;
        border: rgb(88, 88, 88) solid 6px;
        transition: 0.4s;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .featured-rooms__div-right {
      position: relative;
      overflow: hidden;
      text-align: center;
      width: 60%;
      img {
        height: auto;
        width: 100%;
        max-height: 400px;
        transition: 0.5s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
.section-how-it-works {
  background-color: #222222;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  hr {
    width: 40px;
    margin-bottom: 2%;
    color: gray;
    border: 2px gray solid;
    border-radius: 3px;
  }
  h3 {
    font-size: 50px;
    font-family: $FontParagraphs;
    color: white;
  }
  .how-it-works___cards {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-family: $FontParagraphs;
    .card {
      width: 20%;
      text-align: center;
      margin-top: 5%;
      .card-icon-container {
        margin-bottom: 10%;
        background: linear-gradient(
          135deg,
          rgba(34, 34, 34, 1) 0%,
          rgba(34, 34, 34, 1) 50%,
          rgba(255, 255, 255, 0.589) 50%,
          rgba(255, 255, 255, 0.479) 51%,
          rgba(34, 34, 34, 1) 51%,
          rgba(34, 34, 34, 1) 100%
        );
        border-radius: 40px;
        i {
          padding: 10% 11%;
          border: 2px white solid;
          border-radius: 60px;
          font-size: 40px;
          color: #222222;
          background-color: #222222;
        }
      }
      h4 {
        padding-bottom: 10%;
        color: white;
        font-size: 20px;
      }
      p {
        color: rgba(128, 128, 128, 0.637);
        font-weight: 400;
      }
    }
  }
}
.section-testimonials {
  background-color: white;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  hr {
    width: 40px;
    margin-bottom: 2%;
    color: gray;
    border: 2px gray solid;
    border-radius: 3px;
  }
  h3 {
    font-size: 50px;
    font-family: $FontParagraphs;
    color: black;
  }
  .slider-container {
    width: 400px;
    overflow: hidden;
    .slider {
      display: flex;
      transition: transform 0.3s ease-in-out;
      width: 800px;
    }
    .card {
      width: 400px;
      padding: 20px;
      margin-right: 10px;
      text-align: center;
      p {
        padding-bottom: 4%;
      }
      img {
        padding-bottom: 2%;
      }
    }
  }
  .container-button {
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 40px;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 49%,
      rgba(34, 34, 34, 1) 49%,
      rgba(34, 34, 34, 1) 51%,
      rgba(255, 255, 255, 1) 51%,
      rgba(255, 255, 255, 1) 100%
    );
    button {
      background-color: white;
      border: none;
      i {
        color: black;
      }
    }
  }
}
.who-can-play {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.835171568627451) 55%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("/images/gallery/room-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  padding: 5% 10%;
  font-family: $FontParagraphs;
  .wcp-left {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    hr {
      border-radius: 20px;
      border: none;
      width: 2%;
      height: 70%;
      background-color: rgb(255, 255, 255);
    }
    h4 {
      font-size: 1vw;
      width: 30%;
    }
  }
  .wcp-right {
    width: 30%;
    .wcp-right___line {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 2%;
      padding-bottom: 10%;
      padding-left: 5%;
      i {
        font-size: 2vw;
      }
      p {
        font-size: 2vw;
      }
    }
  }
}
.gallery {
  background-color: #222222;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $FontParagraphs;
  hr {
    width: 40px;
    margin-bottom: 2%;
    color: gray;
    border: 2px gray solid;
    border-radius: 3px;
  }
  h3 {
    font-size: 50px;
    font-family: $FontParagraphs;
    color: rgb(255, 255, 255);
  }
  a {
    color: red;
    text-decoration: 1px underline red;
    text-underline-offset: 5px;
    font-weight: 600;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    width: 50%;
    img {
      height: auto;
      width: 100%;
      position: relative;
      border: 2px rgba(255, 0, 0, 0) solid;
      &:hover {
        animation: animated-border 3s linear infinite;
      }
    }

    .div1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .div2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    .div3 {
      grid-area: 1 / 3 / 2 / 4;
    }
    .div4 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .div5 {
      grid-area: 2 / 2 / 3 / 3;
    }
    .div6 {
      grid-area: 2 / 3 / 3 / 4;
    }
  }
}
.section-maps {
  display: flex;
  flex-direction: row;
  width: 100%;
  .maps {
    width: 50%;
    filter: grayscale(100%);
    background-color: #222222;
  }
  .form {
    background-color: #222222;
    padding: 2% 3%;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: $FontParagraphs;
    color: gray;
    hr {
      width: 40px;
      margin-bottom: 2%;
      color: gray;
      border: 1px gray solid;
      border-radius: 3px;
    }
    h3 {
      font-size: 50px;
      font-family: $FontParagraphs;
      color: rgb(255, 255, 255);
      padding-bottom: 10%;
    }
    #fname {
      color: gray;
      background-color: #222222;
      border: none;
      border-bottom: 2px gray solid;
      padding-bottom: 1%;
      margin-bottom: 5%;
      width: 60%;
    }
    #button {
      background-color: #222222;
      border: 2px;
      font-size: 15px;
      border: rgba(255, 255, 255, 0.534) 4px solid;
      border-radius: 40px;
      padding: 1% 2%;
      color: gray;
      transition: 1s;
      &:hover {
        background-color: pink;
      }
    }
  }
}
.ready {
  background-color: #ffffff;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $FontParagraphs;
  color: rgb(0, 0, 0);
  hr {
    width: 40px;
    margin-bottom: 3%;
    color: gray;
    border: 1px gray solid;
    border-radius: 3px;
  }
  h3 {
    font-size: 30px;
    font-family: $FontParagraphs;
    color: rgb(0, 0, 0);
    padding-bottom: 2%;
  }
  p {
    font-size: 2vw;
    padding-bottom: 2%;
  }
  button {
    border: none;
    border-radius: 30px;
    padding: 1% 2%;
    font-size: 1.1vw;
    background-color: red;
    color: white;
    font-weight: 800;
    transition: 1s;
    &:hover {
      background-color: blue;
    }
  }
}

// animations or javascript classes
@keyframes example {
  from {
    transform: translateY(5vh);
  }
  to {
    transform: translateY(0vh);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.95;
  }
}

@keyframes animated-border {
  0% {
    border: 2px solid red;
  }
  50% {
    border: 2px solid blue;
  }
  100% {
    border: 2px solid green;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.active {
  transform: translateY(0);
  opacity: 1;
}
