@media screen and (max-width: 412px) {
  #header-gallery {
    padding: 50% 0 !important;
    .header-left {
      padding-left: 5% !important;
      p {
        font-size: 50px;
        line-height: 8vh;
        padding-bottom: 2%;
      }
      a {
        font-size: 15px;
      }
    }
    .header-right {
      padding-right: 3% !important;
    }
  }
  .section-featured-rooms {
    padding: 5% 0;
    font-family: $FontParagraphs;
    background-color: #1b1b1b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      padding-bottom: 8%;
      font-size: 50px;
      text-align: center;
    }
    .featured-rooms {
      display: flex;
      flex-direction: column !important;
      align-items: center;
      justify-content: center;
      gap: 10px !important;
      width: 100%;
      .featured-rooms__div-left {
        width: 80% !important;
        display: flex;
        flex-direction: column;
        background-color: #222222;
        box-shadow: -11px 11px 14px 0px rgba(0, 0, 0, 0.75);
        padding: 4% 3% 4% 3%;
        p {
          padding: 0 0 6% 0;
          font-weight: 500;
          opacity: 0.5;
          font-size: 15px !important;
        }
        button {
          width: 40%;
          border-radius: 10vh;
          background-color: red;
          color: white;
          font-weight: 900;
          font-size: 15px;
          font-family: $FontParagraphs;
          border: rgb(88, 88, 88) solid 6px;
          transition: 0.4s;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .featured-rooms__div-right {
        position: relative;
        overflow: hidden;
        text-align: center;
        width: 90% !important;
        img {
          height: auto;
          width: 100% !important;
          max-width: 700px;
          max-height: 500px;
          transition: 0.5s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  
}
