@use '../Abstracts/variables';

@media (min-width: 769px) {
    .contact {
        grid-template-columns: 1fr 2fr;

        &__get-in-touch {
            grid-column: 1 / 2;

            .info {
                .email {}

                i {}

                p {}
            }
        }

        &__contact-form {
            grid-column: 2 / 4;

            .name {
                #name {
                    &:hover {
                        border-color: variables.$white-background;
                    }

                    &::placeholder {}

                }

                .mail {
                    #email {
                        &::placeholder {}
                    }
                }

                .message {
                    #message {
                        &::placeholder {}
                    }
                }
            }

            .submit-button {}

        }


    }
}