@media (min-width: 413px) and (max-width:768px) {
    .contact {
        grid-template-columns: 1fr 2fr;

        &__get-in-touch {
            grid-column: 1 / 2;

            .info {
                .email {}

                i {}

                p {}
            }
        }

        &__contact-form {
            grid-column: 2 / 4;

            .name {
                #name {
                    &:hover {}

                    &::placeholder {}

                }
            }

            .mail {
                #email {
                    &::placeholder {}
                }
            }

            .message {
                #message {
                    &::placeholder {}
                }
            }
        }

        .submit-button {}

    }


}