@use '../Abstracts/variables';

.contact {
    background-color: variables.$dark-background;
    display: grid;
    font-family: variables.$FontParagraphs;
    color: variables.$global-font-color;


    h2 {
        font-family: variables.$fontHeadings;
        font-size: variables.$bs-H2;
        color: variables.$white-background;
    }

    p {
        font-weight: 400;
    }

    i {}

    &__get-in-touch {

        .info {
            display: grid;
            grid-template-columns: 1fr 4fr;

            .email {
                color: variables.$white-background
            }

            i {
                color: variables.$white-background;
                text-align: center;
            }

            p {}

        }
    }

    &__contact-form {

        .form {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .name {
                width: 100%;

                #name {
                    background-color: variables.$dark-background;
                    border: none;
                    font-family: variables.$FontParagraphs;
                    font-weight: 400;
                    font-size: 20px;
                    width: 100%;
                    border-bottom: solid 2px variables.$global-font-color;
                    padding: 0% 0% 5% 0%;

                    &:hover {
                        border-color: variables.$white-background;
                    }

                    &::placeholder {
                        grid-column: 1 / 2;
                    }
                }
            }

            .mail {
                width: 100%;

                #email {
                    background-color: variables.$dark-background;
                    font-family: variables.$FontParagraphs;
                    border: none;
                    font-weight: 400;
                    font-size: 20px;
                    width: 100%;
                    border-bottom: solid 3px variables.$global-font-color;
                    padding: 0% 0% 5% 0%;

                    &:hover {
                        border-color: variables.$white-background;
                    }

                    &::placeholder {
                        grid-column: 2 / 3;
                    }
                }
            }

            .message {
                width: 100%;
                grid-column: 1 / -1;

                #message {
                    background-color: variables.$dark-background;
                    font-family: variables.$FontParagraphs;
                    border: none;
                    font-weight: 400;
                    font-size: 20px;
                    width: 100%;
                    border-bottom: solid 3px variables.$global-font-color;
                    margin: 10% 2% 5% 0%;

                    &:hover {
                        border-color: variables.$white-background;
                    }

                    &::placeholder {
                        background-color: variables.$dark-background;
                    }
                }
            }

            .submit-button {

                grid-column: 1 / -1;
                background-color: variables.$red;
                color: variables.$white-background;
                font-weight: 600;
                font-size: 18px;
                border-radius: 50px;
                border-style: none;
                height: 60px;
                width: 98%;

            }
        }
    }
}

.map {
    position: relative;

    iframe {
        filter: grayscale(100%);
    }

    img {
        position: absolute;
        top: 40%;
        left: 40%;
    }

    .overlay {
        background-color: rgba(variables.$dark-background, $alpha: 0.8);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}