@use '../Abstracts/variables';

@media (max-width: 412px) {
    .contact {
        grid-template-columns: 1fr;

        h2 {
            margin: 5% 0%;
        }

        &__get-in-touch {

            .info {
                grid-column-gap: 6%;
                grid-row-gap: 10%;

                .email {}

                i {
                    padding: 5% 5% 0% 0%;
                }

                p {
                    font-size: variables.$m-P;
                    margin: 0%;
                }
            }
        }

        &__contact-form {

            h2 {
                padding-top: 8%;
            }

            .form {
                grid-template-columns: 1fr;

                .name {
                    #name {
                        height: 40%;
                        font-size: variables.$m-P;
                        margin-bottom: 5%;
                        padding: 0% 0% 2% 0%;

                        &:hover {}

                        &::placeholder {}

                    }
                }

                .mail {
                    #email {
                        height: 40%;
                        font-size: variables.$m-P;
                        margin-bottom: 5%;
                        padding: 0% 0% 2% 0%;

                        &::placeholder {}
                    }
                }

                .message {
                    #message {
                        font-size: variables.$m-P;
                        height: 150px;

                        &::placeholder {}
                    }
                }

                .submit-button {
                    font-size: variables.$m-P;
                    margin-bottom: 8%;
                }
            }


        }
    }

    .map {
        .map-medium {
            display: none;
        }

        .map-large {
            display: none;
        }
    }
}