@import '../Abstracts/_variables.scss';
@import '../components/buttons';


.main-homepage {
  /* ... autres styles ... */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $darkest-backgrounds;
  color: $global-font-color;
  font-family: 'Hind Siliguri', sans-serif;
  hr {
    max-width: 35px;
    background-color: #323232;
    border: none;
    height: 5px;
  }


  h2, h3 {
    color: $tiltes;
  }
  
  
  h2 {
    font-size: 44px;
    text-align: center;
  }
  
  h3 {
    font-size: 32px;
  }
  
  ul, ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .featuredRooms {
    padding-top: 27px;
    h3 {
        &:hover {
          color: $red;
          cursor: default;
        }
      }
   
    .room {
      display: flex;
      margin: 5% 25% 5% 25%;
      
      img {
        margin: 15% 0 15% 0;
        max-width: 100%;
        max-height: auto;
      }
      
      &__card {
        background-color: $dark-background;
        box-shadow: 0 2px 50px rgb(0, 0, 0);
        padding: 25px;
         
        .card__padlock--grey {
          color: $global-font-color;
        }
        
        .card__padlock--red {
          color: $red;
        }
        
        ul {
          display: flex;
          
          li {
            margin: 5px;
          }
        }

      }
    }
  }
}
